@import '../../index.scss';

#home{
    .photos,.intro{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
    }
    .intro{
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }
}



