#home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 5rem;
    filter: opacity(0);
    animation: enter linear 1s forwards;
}

@keyframes enter {
    to {
        filter: opacity(1);
    }
}

